.masterbar {
    background: #0087be;
    border-color:#0079aa;
    /* height: 10vh; */
    padding: 0;
    min-height: 121px;
    background: url(../img/hdbg.png) repeat-x #0087be;
}

.sntmargin{
    margin-right: -15px;
    margin-left: -15px;
}

.ceterBanner {
    /* height: 79vh; */
    border-color: red;
    background:blanchedalmond;
    background: url(../img/innerBanner.jpg) no-repeat;
    background-size: 100% 100%;
    height: 343px;
}

.footerBanner {
    /* height: 10vh; */
    border-color: green;
    background:yellowgreen;
    background: #FFF;
    color: #838383;
}

.tweet_F {
    width: 20px;
    height: 21px;
    overflow: hidden;
    background: url(../Images/tweetfoot.png) 0px 0px no-repeat;
    /* -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out; */
    float: left;
    margin: 14px 0 0 0;
}

.fb_F {
    width: 13px;
    height: 17px;
    overflow: hidden;
    background: url(../Images/fbfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 26px;
}

.linkdin_F {
    width: 19px;
    height: 17px;
    overflow: hidden;
    background: url(../Images/linkdinfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 31px;
}

.gplus_F {
    width: 20px;
    height: 18px;
    overflow: hidden;
    background: url(../Images/gplusfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 25px;
}

.powered_F {
    width: 100%;
    height: 55px;
    overflow: hidden;
    text-align: right;
    margin: 0 auto;
    font-size: 90%;
    color: #838383;
    text-align: right;
}
.paratext {
    width: 100%;
    font-size: 1.7em;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}